Advanced AI WhatsApp Assistant v2 (8).json
{
  "name": "Advanced AI WhatsApp Assistant v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "572603ea-15bf-429a-b386-95871f5fdeac",
        "options": {
          "responseData": "OK"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        480
      ],
      "id": "2b3c478c-39ed-4a53-a317-dc2fa2f435f2",
      "name": "WhatsApp Webhook",
      "webhookId": "8dbcd145-aec2-4af2-9b2d-ad684c8ae9cd"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body;\nconst messages = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\nconst contacts = body?.entry?.[0]?.changes?.[0]?.value?.contacts?.[0];\n\nif (!messages || !['text', 'interactive'].includes(messages.type)) {\n  return { json: { hasMessage: false } };\n}\n\n// Rate limiting\nconst userPhone = messages.from;\nconst currentTime = Date.now();\nif (!globalThis.rateLimits) globalThis.rateLimits = {};\n\nconst lastRequest = globalThis.rateLimits[userPhone] || 0;\nif (currentTime - lastRequest < 6000) {\n  return { \n    json: { \n      hasMessage: false, \n      rateLimited: true,\n      userPhone: userPhone,\n      waitTime: Math.ceil((6000 - (currentTime - lastRequest)) / 1000)\n    } \n  };\n}\n\nglobalThis.rateLimits[userPhone] = currentTime;\n\nreturn {\n  json: {\n    hasMessage: true,\n    messageType: messages.type,  // ✅ ADD THIS LINE\n    userMessage: messages.text?.body || messages.interactive?.button_reply?.title || '',\n    userPhone: userPhone,\n    userName: contacts?.profile?.name || 'User',\n    rateLimited: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        480
      ],
      "id": "09febb7e-9f74-4183-96a5-98d548cb3648",
      "name": "Advanced Message Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.hasMessage }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "is-text-or-interactive",
              "leftValue": "={{ ['text', 'interactive', 'button', 'list'].includes($json.messageType) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        480
      ],
      "id": "ad98781e-baa7-468b-9c11-fe73e686c667",
      "name": "Message Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==User Request: ### {{ $('Advanced Message Parser').item.json.userMessage }} ###",
        "options": {
          "systemMessage": "=You are an advanced AI assistant managing Gmail, Google Calendar, and Contacts via WhatsApp for {{ $('Advanced Message Parser').item.json.userName }}. Always check the DATE CONTEXT for time awareness. \n\n🎯 CAPABILITIES:\n• Gmail: Read (with filters), send, reply, delete, search by date/sender/subject, you can also tell the user if there are any attachments in the emails. You must ignore the HTML tags (<div>, \n, styles) and focus only on the readable human text content inside.\n• Calendar: Always look up your Date context before this. View availability, create/update/delete events, check conflicts, manage recurring events, handle timezones\n• Contacts: Lookup by name/email/phone, get contact details\n• Smart Suggestions: Propose meeting times, draft email templates, schedule follow-ups\n\n📋 ENHANCED RULES:\n1. You represent the 'User'. When the User asks to delete or send, you must reply with a question first. Do NOT call the delete/send tool in the same turn as the request. Call it only after receiving a 'Yes' in the NEXT turn.\n2. ALWAYS check calendar for conflicts before scheduling\n3. ALWAYS look up contact details when only names are provided\n4. For email searches, intelligently interpret requests:\n   📧 GMAIL SEARCH RULES:\n- \"unread emails\" = Use \"is:unread\" filter\n- IMPORTANT: Gmail returns newest emails FIRST by default\n- The FIRST result in the list is ALWAYS the most recent\n5. When scheduling, suggest 2-3 time slots if user is vague\n6. Provide context-aware responses (e.g., \"You have 3 meetings tomorrow\")\n7. Handle multi-step tasks gracefully\n8. Use natural language for dates/times, but store in ISO 8601\n9. Track conversation context across messages\n10. Proactively offer helpful suggestions\n\n ⚡ EMAIL WRITING GUIDE (EXAMPLES):\n\nWhen drafting emails, follow these natural formats:\n\nEXAMPLE 1 - Quick Update (Casual-Professional):\n❌ BAD:\n\"Hi John,\nI am writing to inform you that I will be late.\nI apologize for the inconvenience.\nBest,\nPrincess\"\n\n✅ GOOD:\n\"Dear John,\n\nJust a heads up - I'm running about 15 minutes late but I'm on my way now. Should be there shortly!\n\nBest regards,\nPrincess\"\n\n---\n\nEXAMPLE 2 - Meeting Request (Professional):\n❌ BAD:\n\"Hi  Sarah,\nI would like to schedule a meeting.\nPlease let me know your availability.\nThank you.\nRegards,\nPrincess\"\n\n✅ GOOD:\n\"Dear Sarah,\n\nHope you're doing well! I'd love to sync up about the Q4 project timeline. Are you free for a quick 30-minute call this week?\n\nLet me know what works for you!\n\nBest regards,\nPrincess\"\n\n---\n\nEXAMPLE 3 - Follow-up Email (Warm):\n❌ BAD:\n\"Hello Mike,\nFollowing up on our previous conversation.\nPlease review the attached document.\nBest regards,\nPrincess\"\n\n✅ GOOD:\n\"Hi Mike,\n\nThanks again for the great discussion yesterday! I've attached the proposal we talked about. Let me know if you have any questions or need any changes.\n\nLooking forward to hearing your thoughts!\n\nWarm regards,\nPrincess\"\n\n---\n\nEXAMPLE 4 - Apology/Delay (Empathetic):\n❌ BAD:\n\"Dear Team,\nI apologize for the delay.\nThe report will be submitted tomorrow.\nSincerely,\nPrincess\"\n\n✅ GOOD:\n\"Dear team,\n\nI'm really sorry for the delay on the report - ran into some unexpected data issues. I'll have it to you first thing tomorrow morning.\n\nThanks for your patience!\n\nBest regards,\nPrincess\"\n\n---\n\nEXAMPLE 5 - Thank You (Genuine):\n❌ BAD:\n\"Dear Jennifer,\nThank you for your assistance.\nI appreciate your help.\nBest regards,\nPrincess\"\n\n✅ GOOD:\n\"Hi Jennifer,\n\nJust wanted to say thank you so much for jumping in to help with the presentation yesterday. You really saved the day!\n\nI owe you coffee ☕\n\nCheers,\nPrincess\"\n\n---\n\nWhen user asks to send email:\n1. Draft using this format\n2. Show them the FULL email for approval\n3. Ask \"Shall I send this?\"\n4. Only send after they confirm \"Yes\"\n\nCRITICAL DISPLAY RULES:\n1. When showing email drafts to the user, display them in PLAIN READABLE TEXT\n2. Do NOT show HTML tags like <p>, <br>, </p> to the user - these are confusing\n3. Show the email exactly as it will appear in their inbox\n4. Use blank lines between paragraphs for readability\n5. After showing the draft, ask \"Shall I send this email?\"\n\nFORMATTING FOR GMAIL TOOL (Behind the scenes):\nWhen you actually CALL the Gmail Send tool, format the messageBody parameter with HTML:\n- Wrap each paragraph in <p></p> tags\n- Use <br> before the signature name\n- Example messageBody value: \"<p>Hi John,</p><p>Just a heads up - I'm running about 15 minutes late but I'm on my way now. Should be there shortly!</p><p>Best,<br>Princess</p>\"\n\nTWO-STAGE PROCESS:\n1. SHOW USER: Plain text, readable format with blank lines\n2. SEND TO GMAIL: HTML format with <p> tags (user never sees this)\n\nSTRUCTURE FOR USER DISPLAY:\n\"I'll draft an email to [Name] about [topic].\n\nSubject: [Subject Line]\n\n[Greeting],\n\n[Paragraph 1]\n\n[Paragraph 2  and more if needed]\n\n[Sign-off],\nPrincess\n\nShould I proceed?\"\n\nWhen user confirms \"Yes\":\n- Call Gmail Send tool with messageBody in HTML format\n- Confirm: \"✅ Email sent to [recipient]!\"\n⚙️ RESPONSE FORMAT:\n• Keep responses concise (2-4 sentences max)\n• Use emojis sparingly for clarity (✅ ❌ 📅 📧 ⚠️)\n• Format dates as: \"Monday, Nov 18 at 2:00 PM WAT\"\n   • CRITICAL: Gmail returns UTC timestamps. ALWAYS convert to WAT (UTC+1) before displaying to user\n• For confirmations, clearly state what will happen\n• If ambiguous, ask ONE clarifying question\n\n🌍 DATE CONTEXT:\n- Current Date: {{ $now.format('dddd, MMMM D, YYYY') }}\n- Current Time: {{ $now.format('h:mm A') }}\n- Timezone: Africa/Lagos (WAT, UTC+1)\n- User: {{ $('Advanced Message Parser').item.json.userName }}\n- Priority Request: {{ $json.isPriority ? 'YES - Handle urgently' : 'No' }}\n\n📅 THIS WEEK'S DATES:\n- Today ({{ $now.format('dddd') }}): {{ $now.format('MMMM D, YYYY') }}\n- Tomorrow ({{ $now.plus({days: 1}).format('dddd') }}): {{ $now.plus({days: 1}).format('MMMM D, YYYY') }}\n- {{ $now.plus({days: 2}).format('dddd') }}: {{ $now.plus({days: 2}).format('MMMM D, YYYY') }}\n- {{ $now.plus({days: 3}).format('dddd') }}: {{ $now.plus({days: 3}).format('MMMM D, YYYY') }}\n- {{ $now.plus({days: 4}).format('dddd') }}: {{ $now.plus({days: 4}).format('MMMM D, YYYY') }}\n- {{ $now.plus({days: 5}).format('dddd') }}: {{ $now.plus({days: 5}).format('MMMM D, YYYY') }}\n- {{ $now.plus({days: 6}).format('dddd') }}: {{ $now.plus({days: 6}).format('MMMM D, YYYY') }}\n\n⚠️ CRITICAL DATE RULE:\nWhen user says a day name (Monday, Tuesday, etc.), you MUST:\n1. Check the week dates above\n2. Use the EXACT date shown for that day\n3. NEVER guess or calculate dates yourself\n\n💡 SMART BEHAVIORS:\n• Learn user preferences from conversation history\n• Suggest optimal meeting times based on calendar\n• Remind about upcoming events when relevant\n• Batch related tasks when possible\n• Detect and prevent scheduling conflicts\n• Auto-lookup emails for known contacts\n\nStrict Calendar rule:\nIf it is my event alone pass in my email as the attendee. ",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        752,
        64
      ],
      "id": "b57b7a98-eedb-4632-aee8-108117126799",
      "name": "Advanced AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Advanced Message Parser').item.json.userPhone }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        656
      ],
      "id": "f02975a4-d4aa-4bd6-a10e-ceb56e1e8899",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Advanced Gmail Search & Read\nSearch inbox emails with full content.\n\nSEARCH BEHAVIOR:\n\n- Returns emails sorted by DATE (newest first)\n\n- First result = Most recent email\n\n- \"unread\" = Add \"is:unread\" to search\n\n- \"from someone\" = Add \"from:email@domain.com\" to search\n\nQuery examples:\n\n- User: \"unread emails\" → Search: \"is:unread\nIMPORTANT:\n- Returns FULL email content (body, headers, attachments)\n- Searches PRIMARY inbox ONLY (no promotions/spam)\n- Default limit: 5 emails \n- All timestamps in UTC - convert to WAT (UTC+1) for user\n\nReturns: subject, sender, date, full body, messageId, labels, attachments",
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "q": "={{ $json.searchQuery ? ($json.searchQuery + ' -category:promotions') : '-category:promotions in:inbox' }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        880
      ],
      "id": "88f4d639-05f8-4174-b2aa-e077e1f679d4",
      "name": "Gmail Search & Read",
      "webhookId": "gmail-search-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "HRJR2oMopSTAD0CH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=📧 Send New Email\n\nSend a brand new email (not a reply).\n\nRequired parameters:\n• recipientEmail: Valid email address\n• subject: Email subject line\n• messageBody: Email content (supports HTML)\n\nOptional parameters:\n• ccEmails: Comma-separated CC recipients\n• bccEmails: Comma-separated BCC recipients\n• priority: \"high\" or \"normal\" (default)\n\n⚠️ IMPORTANT:\n1. MUST get explicit user confirmation before sending\n2. If user provides only a name, use Contact Lookup tool first to get email\n3. Confirm recipient, subject, and preview message content\n4. For bulk emails, send one at a time with confirmation\n\nExample confirmation: \"I'll send an email to john@example.com with subject 'Meeting Follow-up'. The message says: [preview]. Should I send this?\"",
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.messageBody }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bccEmails || '' }}",
          "ccList": "={{ $json.ccEmails || '' }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1424,
        912
      ],
      "id": "eaad54b2-dcaf-4752-a65b-db0f573d8fec",
      "name": "Gmail Send New Email",
      "webhookId": "gmail-send-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "HRJR2oMopSTAD0CH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=💬 Reply to Email\n\nReply to an existing email in the conversation thread.\n\nRequired parameters:\n• messageId: The ID from Gmail Search results\n• replyText: Your reply message (supports HTML)\n\nOptional parameters:\n• replyToAll: true/false (default: false) - Reply to all recipients\n\n⚠️ IMPORTANT:\n1. MUST confirm before sending\n2. Always use messageId from Search results\n3. For \"Reply All\", explicitly ask user if they want to include all recipients\n4. Show preview of reply before sending\n\nExample: \"I'll reply to the email from john@example.com about 'Project Update' with: [preview]. Reply to sender only or Reply All?\"",
        "operation": "reply",
        "messageId": "={{ $json.messageId }}",
        "message": "={{ $json.replyText }}",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": "={{ $json.replyToAll ? false : true }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        928
      ],
      "id": "aca8a0e2-1cec-4162-82d6-9d7700c4e43f",
      "name": "Gmail Reply to Email",
      "webhookId": "gmail-reply-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "HRJR2oMopSTAD0CH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=🗑️ Delete Email (Permanent)\n\nPermanently delete an email. This action CANNOT be undone.\n\nRequired parameter:\n• messageIdToDelete: The message ID from Search results\n\n⚠️ CRITICAL WARNINGS:\n1. MUST get explicit user confirmation: \"Are you sure you want to permanently delete [email subject/sender]?\"\n2. Deleted emails cannot be recovered\n3. For batch deletion, confirm count: \"This will permanently delete 5 emails. Confirm?\"\n4. Consider suggesting Archive instead of Delete for important emails\n\nSafer alternative: Suggest moving to Trash (archive) instead of permanent deletion when appropriate.",
        "operation": "delete",
        "messageId": "={{ $json.messageIdToDelete }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1104,
        864
      ],
      "id": "e42ebb7f-4e43-4136-9586-2425516fc303",
      "name": "Gmail Delete Email",
      "webhookId": "gmail-delete-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "HRJR2oMopSTAD0CH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=📅 View Calendar Schedule\n\nRetrieve calendar events to check availability and view schedule.\n\nOptional parameters:\n• startTime: ISO 8601 format (e.g., \"2024-11-15T09:00:00+01:00\"). Default: 7 days before now\n• endTime: ISO 8601 format. Default: 7 days from now\n• maxResults: Number of events to return (1-50). Default: 10\n• searchQuery: Search in event titles/descriptions\n\nReturns:\n• Event title, description, location\n• Start/end times (with timezone)\n• Attendees list with RSVP status\n• Event ID (needed for updates/deletions)\n• Recurring event info\n• Organizer details\n\nUsage examples:\n• \"Show my schedule for today\" → startTime: today 00:00, endTime: today 23:59\n• \"What meetings do I have this week?\" → startTime: now, endTime: +7 days\n• \"Am I free tomorrow at 2pm?\" → Check for conflicts in that time slot\n• \"Find my meeting with John\" → Use searchQuery: \"John\"\n\nSmart tips:\n• Always check calendar before suggesting meeting times\n• When asked \"am I free?\", look for overlapping events\n• Consider travel time between back-to-back meetings",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "princessnosawema@gmail.com",
          "mode": "list",
          "cachedResultName": "princessnosawema@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ $now.minus({ week: 1 }) }}",
        "timeMax": "={{ $now.plus( {week: 1 })}}",
        "options": {
          "query": "={{ $json.searchQuery || '' }}",
          "timeZone": {
            "__rl": true,
            "value": "Africa/Lagos",
            "mode": "list",
            "cachedResultName": "Africa/Lagos"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        1056
      ],
      "id": "827533b8-3bfe-4bef-84e9-d580f0e30b28",
      "name": "Calendar View Schedule",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Yr2aMpjLdZG75zcW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=📅 Create Calendar Event\n\nCreate a new calendar event with full details.\n\nRequired parameters:\n• title: Event title/summary\n• startDateTime: ISO 8601 format with +01:00 timezone (e.g., \"2024-11-15T14:00:00+01:00\")\n• endDateTime: ISO 8601 format with +01:00 timezone\n\nOptional parameters:\n• eventDescription: Detailed description\n• eventLocation: Physical location or meeting link\n• attendeeEmails: Comma-separated email addresses\n• recurrence: RRULE format (e.g., \"RRULE:FREQ=WEEKLY;COUNT=10\" for weekly 10 times)\n• reminders: Minutes before event (e.g., \"15,60\" for 15min and 1hr reminders)\n• conferenceData: \"hangoutsMeet\" to add Google Meet link\n• colorId: Calendar color (1-11)\n\n⚠️ IMPORTANT WORKFLOW:\n1. ALWAYS check calendar for conflicts first using Calendar View\n2. If conflict found, suggest 2-3 alternative time slots\n3. Confirm ALL details with user: title, date, time, duration, attendees\n4. For recurring events, clearly explain the recurrence pattern\n5. Attendees will receive email invitations automatically\n\nDate/Time handling:\n• User says \"tomorrow at 2pm\" → Convert to ISO 8601: Tomorrow's date + \"14:00:00+01:00\"\n• User says \"next Monday 10am for 1 hour\" → Start: Monday 10:00, End: Monday 11:00\n• Always include +01:00 timezone offset for Lagos/WAT\n\nConflict resolution:\n• If conflict detected: \"You have a meeting from 2-3pm. I can schedule this at 3:30pm or 4pm instead. Which works?\"\n\nExample confirmation: \"I'll create 'Team Standup' on Monday Nov 18 from 10:00 AM to 10:30 AM WAT, with john@example.com and sarah@example.com. Shall I proceed?\"",
        "calendar": {
          "__rl": true,
          "value": "princessnosawema@gmail.com",
          "mode": "list",
          "cachedResultName": "princessnosawema@gmail.com"
        },
        "start": "={{ $json.startDateTime }}",
        "end": "={{ $json.endDateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.attendeeEmails }}"
          ],
          "description": "={{ $json.eventDescription || '' }}",
          "location": "={{ $json.eventLocation || '' }}",
          "sendUpdates": "all",
          "summary": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        1072
      ],
      "id": "bfee1c9f-afa6-487f-aefa-0b2a764ba592",
      "name": "Calendar Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Yr2aMpjLdZG75zcW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=✏️ Update Calendar Event\n\nModify an existing calendar event.\n\nRequired parameter:\n• eventId: Event ID from Calendar View results\n\nOptional parameters (only provide what needs to change):\n• newTitle: Updated event title\n• newStartTime: New start time (ISO 8601 with +01:00)\n• newEndTime: New end time (ISO 8601 with +01:00)\n• eventDescription: Updated description\n• eventLocation: Updated location\n• attendeeEmails: Updated attendee list (replaces existing)\n• addAttendees: Comma-separated emails to ADD to existing attendees\n• removeAttendees: Comma-separated emails to REMOVE from attendees\n\n⚠️ IMPORTANT:\n1. MUST confirm changes with user before updating\n2. If changing time, check for new conflicts\n3. All attendees will be notified of changes automatically\n4. Clearly state what's being changed: \"I'll move your 2pm meeting to 3pm. Confirm?\"\n5. For recurring events, ask if change applies to \"this event only\" or \"all events\"\n\nTime change example:\n• User: \"Move my 2pm meeting to 3pm tomorrow\"\n• Agent: First use Calendar View to find the event at 2pm\n• Agent: Then update with new start/end times\n• Confirm: \"I'll reschedule 'Client Call' from 2pm to 3pm tomorrow. Attendees will be notified. OK?\"\n\nAttendee management:\n• Adding: \"I'll add mike@example.com to the meeting. He'll receive an invitation.\"\n• Removing: \"I'll remove sarah@example.com from the meeting. She'll be notified of the cancellation.\"",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "princessnosawema@gmail.com",
          "mode": "list",
          "cachedResultName": "princessnosawema@gmail.com"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "description": "={{ $json.eventDescription || '' }}",
          "end": "={{ $json.newEndTime || '' }}",
          "location": "={{ $json.eventLocation || '' }}",
          "sendUpdates": "all",
          "start": "={{ $json.newStartTime || '' }}",
          "summary": "={{ $json.newTitle || '' }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        896
      ],
      "id": "c02c2a8d-45d4-4eb5-8b7c-edc6a9e27a12",
      "name": "Calendar Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Yr2aMpjLdZG75zcW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=🗑️ Delete Calendar Event\n\nCancel and remove a calendar event.\n\nRequired parameter:\n• eventIdToDelete: Event ID from Calendar View results\n\nOptional parameters:\n• deleteRecurring: For recurring events - \"this\" (this event only) or \"all\" (all occurrences). Default: \"this\"\n\n⚠️ CRITICAL:\n1. MUST get explicit user confirmation before deleting\n2. All attendees will be notified of the cancellation\n3. For recurring events, clearly ask: \"Delete this occurrence only or all occurrences?\"\n4. Cannot be undone\n5. Confirm with event details: \"I'll cancel 'Team Meeting' on Monday Nov 18 at 10am. All 5 attendees will be notified. Confirm deletion?\"\n\nRecurring event examples:\n• \"Cancel my Monday standup\" → Delete all occurrences\n• \"Cancel next Monday's standup\" → Delete single occurrence\n• \"Remove all my recurring 1-on-1s with John\" → Delete all in series\n\nAlternative suggestion: If event might be important, suggest rescheduling instead: \"Would you like to reschedule this meeting instead of canceling it?\"",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "princessnosawema@gmail.com",
          "mode": "list",
          "cachedResultName": "princessnosawema@gmail.com"
        },
        "eventId": "={{ $json.eventIdToDelete }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        896
      ],
      "id": "749deb99-1593-4335-83e4-163bb1176fdd",
      "name": "Calendar Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Yr2aMpjLdZG75zcW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=👤 Contact Lookup\n\nSearch contacts by name, email, or phone number.\n\nRequired parameter:\n• contactName: Name to search for (partial match supported)\n\nOR\n• contactEmail: Email address to search for\n\nOR\n• contactPhone: Phone number to search for\n\nReturns:\n• Full Name\n• Primary Email\n• Phone Number(s)\n• Company\n• Notes/Additional Info\n\n💡 SMART USAGE:\n1. Automatically invoked when user provides only a name for emails/meetings\n2. Use fuzzy matching - \"john\" will find \"John Smith\", \"John Doe\", etc.\n3. If multiple matches, ask user to clarify: \"I found 2 Johns - John Smith (Acme Corp) and John Doe (Tech Inc). Which one?\"\n4. Cache results in conversation to avoid repeated lookups\n\nWorkflow examples:\n• User: \"Send email to John about the project\"\n• Agent: Use Contact Lookup with contactName: \"John\"\n• Agent: If found: \"I'll send to john.smith@acme.com. Is this the right John?\"\n• Agent: If not found: \"I don't have John's email in your contacts. Could you provide it?\"\n\n• User: \"Schedule meeting with Sarah and Mike tomorrow at 2pm\"\n• Agent: Lookup both \"Sarah\" and \"Mike\"\n• Agent: Create calendar event with their emails as attendees\n\nError handling:\n• No match: \"I couldn't find [name] in your contacts. Do you have their email address?\"\n• Multiple matches: List options with company/title for disambiguation",
        "documentId": {
          "__rl": true,
          "value": "1--FRHjEyOLnU78CRtdXh33jU3fodV3mDbz_zImmID-o",
          "mode": "list",
          "cachedResultName": "Team info"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "={{ $json.searchColumn || 'Name' }}",
              "lookupValue": "={{ $json.contactName || $json.contactEmail || $json.contactPhone }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        992,
        1056
      ],
      "id": "1131bebc-8664-4f32-8190-ef1d048dba7b",
      "name": "Contact Lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VaRfVOjmGaodiiBD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Both output and userPhone are now in the input!\nconst output = $input.item.json.output || '';\nconst userPhone = $input.item.json.userPhone || '';\n\n// Validate we have both\nif (!userPhone) {\n  console.error('ERROR: No userPhone after Set node');\n  return {\n    json: {\n      output: \"System error: Unable to determine recipient\",\n      userPhone: \"unknown\"\n    }\n  };\n}\n\nif (!output || output.trim() === '') {\n  return {\n    json: {\n      output: \"🤔 I didn't quite understand. Could you rephrase that?\",\n      userPhone: userPhone\n    }\n  };\n}\n\n// Handle AI errors\nif ($input.item.json.error) {\n  return {\n    json: {\n      output: \"⚠ Sorry, I encountered an error. Please try again.\",\n      userPhone: userPhone\n    }\n  };\n}\n\n// Success\nreturn {\n  json: {\n    output: output.trim(),\n    userPhone: userPhone\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ],
      "id": "842c8dcf-cd1d-4a46-8ba3-83df907a674a",
      "name": "Advanced Error Handler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/812226575317061/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        304
      ],
      "id": "77ac1244-f0b9-4d36-8364-feff0afcda68",
      "name": "Send WhatsApp Response",
      "credentials": {
        "whatsAppApi": {
          "id": "sPfnz3eITOXitarx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Analytics and logging\nconst data = $input.item.json;\n\n// Initialize analytics storage\nif (!globalThis.analytics) {\n  globalThis.analytics = {\n    totalRequests: 0,\n    successfulRequests: 0,\n    failedRequests: 0,\n    userStats: {}\n  };\n}\n\n// Update global stats\nglobalThis.analytics.totalRequests++;\nif (data.success) {\n  globalThis.analytics.successfulRequests++;\n} else {\n  globalThis.analytics.failedRequests++;\n}\n\n// Update user-specific stats\nconst userPhone = data.userPhone;\nif (!globalThis.analytics.userStats[userPhone]) {\n  globalThis.analytics.userStats[userPhone] = {\n    totalRequests: 0,\n    lastRequest: null,\n    firstRequest: new Date().toISOString()\n  };\n}\n\nglobalThis.analytics.userStats[userPhone].totalRequests++;\nglobalThis.analytics.userStats[userPhone].lastRequest = new Date().toISOString();\n\n// Log to console (visible in n8n logs)\nconsole.log('Analytics Update:', {\n  user: userPhone,\n  success: data.success,\n  timestamp: new Date().toISOString(),\n  globalStats: {\n    total: globalThis.analytics.totalRequests,\n    success: globalThis.analytics.successfulRequests,\n    failed: globalThis.analytics.failedRequests,\n    successRate: (globalThis.analytics.successfulRequests / globalThis.analytics.totalRequests * 100).toFixed(2) + '%'\n  }\n});\n\nreturn { json: data };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        304
      ],
      "id": "5d10364e-41b3-44f4-b890-ae69e77834a9",
      "name": "Analytics Logger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc8c748b-80e7-4d02-8dff-0adf5b7f8a32",
              "leftValue": "={{ $json.rateLimited }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        464
      ],
      "id": "b50e9516-6e2c-4be5-ac62-6a52c6470ab5",
      "name": "Rate Limit Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/812226575317061/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.userPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"⚠️ Slow down there! You've sent {{ $json.waitTime }} messages in the last minute. Please wait {{ $json.waitTime }} seconds before sending another message. This helps me serve you better! 😊\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        640
      ],
      "id": "b66ff1e8-fe0b-4364-9742-26ec7ad9d6c4",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "sPfnz3eITOXitarx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const reply = $input.item.json.output || '';\nconst userPhone = $input.item.json.userPhone || '';\n\n// Clean formatting for WhatsApp\nconst formatted = reply\n  .replace(/\\*\\*/g, '*')          // Markdown bold to WhatsApp bold\n  .replace(/[`#]/g, '')           // Remove code/header markers\n  .replace(/\\n{3,}/g, '\\n\\n')     // Max 2 newlines\n  .trim();\n\n// WhatsApp's character limit\nconst maxLength = 4000;\nconst finalMessage = formatted.length > maxLength \n  ? formatted.substring(0, 3997) + '...' \n  : formatted;\n\n// WhatsApp API format\nreturn {\n  json: {\n    messaging_product: \"whatsapp\",\n    to: userPhone,\n    type: \"text\",\n    text: {\n      body: finalMessage\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        304
      ],
      "id": "15355725-359f-41b0-8db1-53d068108911",
      "name": "Formay Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df8ffb8f-966f-4a75-b298-cf4395d60cf9",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "80a53fbd-cc4f-44a3-83a6-3ed85bc34f6d",
              "name": "userPhone",
              "value": "= {{ $('Rate Limit Check').item.json.userPhone }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        304
      ],
      "id": "86b94401-8071-4c35-9e5b-c4a895f8a388",
      "name": "Add userPhone"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3,
          "topK": 40,
          "topP": 0.95,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_MEDIUM_AND_ABOVE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_MEDIUM_AND_ABOVE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_MEDIUM_AND_ABOVE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_MEDIUM_AND_ABOVE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "16876268-e039-45bc-ae57-210180925ae5",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "T9fMG886eoG4402N",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Webhook": [
      {
        "json": {
          "headers": {
            "host": "princessosas.app.n8n.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "517",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a03:2880:22ff:1::",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9a01d7a6f3358815-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:22ff:1::, 104.23.253.22",
            "x-forwarded-host": "princessosas.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-74-67bd674f6f-ttbkq",
            "x-hub-signature": "sha1=7a650f494e4916ea9175e150d2cff9c3bd1cce3c",
            "x-hub-signature-256": "sha256=2333efdbede72831ae900159823689a7cd76f6a690c84db1055481ee0271338b",
            "x-is-trusted": "yes",
            "x-real-ip": "2a03:2880:22ff:1::"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1367491911479693",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "15551731240",
                        "phone_number_id": "812226575317061"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Princess 👑"
                          },
                          "wa_id": "2348143828790"
                        }
                      ],
                      "messages": [
                        {
                          "from": "2348143828790",
                          "id": "wamid.HBgNMjM0ODE0MzgyODc5MBUCABIYFDNBMUQxNkRGOTMyRjk4RURCMTFDAA==",
                          "timestamp": "1763409920",
                          "text": {
                            "body": "Check and delete my lunch event"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://princessosas.app.n8n.cloud/webhook/572603ea-15bf-429a-b386-95871f5fdeac",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Advanced Message Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Message Parser": {
      "main": [
        [
          {
            "node": "Message Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Filter": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Search & Read": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send New Email": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Reply to Email": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Delete Email": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar View Schedule": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Create Event": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Update Event": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Lookup": {
      "ai_tool": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Advanced AI Agent": {
      "main": [
        [
          {
            "node": "Add userPhone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Error Handler": {
      "main": [
        [
          {
            "node": "Formay Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Analytics Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formay Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add userPhone": {
      "main": [
        [
          {
            "node": "Advanced Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Advanced AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "727d6a2c-bfae-4c12-9161-5d6939be6d73",
  "meta": {
    "instanceId": "072954c8bf6ce99e32995329e800b426e304054c3722ade30814dc585c9f8faa"
  },
  "id": "OkOarqTsSV77EaDz",
  "tags": []
}